<h1>Hello <%= @user.name %>!</h1>

<h2> What would you like to do? </h2>

<div>
<% if @user.subscriptions %>
        <h2> You are currently subscribed to: </h2>
        <% @user.subscriptions.each do |f| %>
         <li><%= f.gym.name %></li>
        <% end %>
<% else %>
    <p> You aren't subscribed to a gym. <p>
<% end %> 
</div>
    
<ol> 
    <li><%= link_to "Check gyms", gyms_path(@gyms) %></li>
</ol>
<%= form_for @subscription do |f|%>
    <%= f.label :gym_id %>
    <%= f.collection_select :gym_id, @gyms, :id, :name %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit "Subscribe" %>
<% end %>

<%= form_for @subscription, :method => :delete do |f| %>
    <%= f.label :gym_id %>
    <%= f.collection_select :gym_id, @subscription.gym, :id,:name %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit "Delete" %>
<% end %>

